body, html{
    font-family: sans-serif;
}

th{
    background-color: rgba(45, 164, 45, 0.641);
    border : 1px solid black; 
    text-align: center;    
    font-size: 1.5rem;
    text-transform: capitalize;
}

tr{
    text-align: center;
}
tr:nth-child(even){
    background-color: rgba(251, 183, 109, 0.579);
}
td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

img{
    border-radius: 10px;
    height: 40%;
    width: 40%;
}

button{
    padding: 8px;
    font-weight: 600;
    margin: 10px;
    background-color: rgb(12, 169, 44);
    border-radius: 10%;
    min-width: 76.32px;
    
}
button:hover{
    background-color: rgb(255, 176, 103);
}

input{
    margin-left: 10px;
}